<%= form_for bid_item, html: { multipart: true } do |f| %>
  <% if bid_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bid_item.errors.count, "error") %> prohibited this bid_item from being saved:</h2>

      <ul>
      <% bid_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

    <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
<% end %>
