
<h1>Bid Items</h1>

<% if !user_signed_in? %>
  <div class="jumbotron">
    <p><%= link_to "Sign In To Post an Item", user_session_path, class: "btn btn-primary btn-lg" %></p> 
  </div>
<% else %>
  <div class="jumbotron">
    <p><%= link_to 'New Bid Item', new_bid_item_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>


<div class="row">
  <% @bid_items.each do |bid_item| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag bid_item.image.url(:medium)), bid_item %>
        <table>
          <tbody>
            <tr>
              <td><%= bid_item.item_name %> | </td>
              <td><%= bid_item.starting_price %> | </td>
              <td><%= bid_item.current_price %></td>
            </tr>
            <tr>
              <td><%= link_to 'View Detail | ', bid_item %></td>
              <% if user_signed_in? %>
                <% if bid_item.seller_id == current_user.id %>
                  <td><%= link_to 'Edit | ', edit_bid_item_path(bid_item) %></td>
                <% else %>
                  <%= text_field_tag :bid_amount %>
                  <%= submit_tag "Bid" %>
                <% end %>
                <td><%= link_to 'Destroy', bid_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          </tbody>
        </table>  
      </div>
    </div>
  <% end %>
</div>
