
<h1>Bid Items</h1>

<% if !user_signed_in? %>
  <div class="jumbotron">
    <p><%= link_to "Sign In To Post an Item", user_session_path, class: "btn btn-primary btn-lg" %></p> 
  </div>
<% else %>
  <div class="jumbotron">
    <p><%= link_to 'New Bid Item', new_bid_item_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<% cache(cache_key_for_biditem_index_table) do %>
  <div class="row">
    <% @bid_items.each do |bid_item| %>

      <% cache(cache_key_for_biditem_index_row(bid_item)) do %>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= link_to (image_tag bid_item.image.url(:medium)), bid_item %>
            <table>
              <thead>
                <font size="+1"><tr><%= bid_item.item_name %></tr></font>
              </thead>
              <tbody>
                <tr>
                  <td>Current Price: <%= bid_item.current_price %></td>
                </tr>
                <tr>
                  <td>Fixed Price: <%= bid_item.fixed_price %></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td><%= link_to 'View Detail', bid_item %></td>
                  <% if bid_item.buyer_id? %>
                    <td><b><font color="red">SOLD OUT</font></b></td>
                  <% else %>  
                    <% if user_signed_in? %>
                      <% if bid_item.seller_id == current_user.id %>
                        <td><%= link_to 'Edit | ', edit_bid_item_path(bid_item) %></td>
                        <td><%= link_to 'Destroy', bid_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>
              </tfoot>
            </table>  
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
<% end %>


