<p id="notice"><%= notice %></p>

<p>
  <strong>Item Name:</strong>
  <%= @bid_item.item_name %>
</p>

<p>
  <strong>Starting Price:</strong>
  <%= @bid_item.starting_price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @bid_item.seller_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bid_item.description %>
</p>

<%= link_to 'Edit', edit_bid_item_path(@bid_item) %> |
<%= link_to 'Back', bid_items_path %>
