<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bid_item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bid_item.price %>
</p>

<p>
  <strong>Saler:</strong>
  <%= @bid_item.saler_id %>
</p>

<p>
  <strong>Bidder:</strong>
  <%= @bid_item.bidder_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bid_item.description %>
</p>

<%= link_to 'Edit', edit_bid_item_path(@bid_item) %> |
<%= link_to 'Back', bid_items_path %>
