<div class="panel panel-default">
  <% if user_signed_in? %>
    <% if @bid_item.seller_id == current_user.id %>
      <h2> My own item</h2>
    <% elsif @bid_item.buyer_id == current_user.id %>
      <h2> I bought the item </h2>
    <% end %>
  <% end %>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <% cache(cache_key_for_biditem_show_info(@bid_item)) do %>
          <%= image_tag @bid_item.image.url(:medium) %> 
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Item Name:</strong></td>
                <td><%= @bid_item.item_name %></td>
              </tr>
              <tr>
                <td><strong>Seller:</strong></td>
                <td><%= @bid_item.seller_id %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @bid_item.description %></td>
              </tr>
              <tr>
                <td><strong>Starting Price:</strong></td>
                <td><%= @bid_item.starting_price %></td>
              </tr>
              <tr>
                <td><strong>Fixed Price:</strong></td>
                <td><%= @bid_item.fixed_price %></td>
              </tr>
              <tr>
                <td><strong>Current Price:</strong></td>
                <td><%= @bid_item.current_price %></td>
              </tr>
            </tbody>
          </table>
        <% end %>

        <% if @bid_item.buyer_id? %>
          <td>SOLD OUT</td>
        <% else %>
          <% if user_signed_in? %>
            <% if @bid_item.seller_id != current_user.id %>
              <section class="bid_form">
                  <%= render 'shared/bid_record_form' %>
              </section>
            <% else %>
              <td><%= link_to 'Edit | ', edit_bid_item_path(@bid_item) %></td>
              <td><%= link_to 'Destroy |', @bid_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% else %>
            <td>Please sign in to bid</td>
          <% end %>
        <% end %> 

        <%= link_to 'Back', bid_items_path %>
        
      </div>

      <% cache(cache_key_for_biditem_show_record(@bid_item)) do %>

        <div class="col-md-7 col-md-offset-1">       
          <% if @bid_records.blank? %>
            <h3>No bidding record now</h3>
          <% else %>
            <em><%= "#{@bid_records.length} bidding records" %></em>
            <% @bid_records.each do |record| %>
              <div class="bid_record">
                <tr>
                  <td><%= record.created_at %>  </td>
                  <td><%= record.user_id %>  </td>
                  <td><%= record.price %>  </td>
                </tr>
              </div>
            <% end %>
          <% end %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>


