<%= image_tag @bid_item.image.url(:medium) %>

<p>
  <strong>Item Name:</strong>
  <%= @bid_item.item_name %>
</p>

<p>
  <strong>Starting Price:</strong>
  <%= @bid_item.starting_price %>
</p>

<p>
  <strong>Highest Price:</strong>
  <%= @bid_item.highest_price %>
</p>

<p>
  <strong>Fixed Price:</strong>
  <%= @bid_item.fixed_price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @bid_item.seller_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bid_item.description %>
</p>
<% if user_signed_in? %>
    <% if @bid_item.seller_id == current_user.id %>
        <%= link_to 'Edit', edit_bid_item_path(@bid_item) %> |
    <% else %>
        <%= link_to 'Bid', bid_bid_item_path(@bid_item) %> |
    <% end %>
<% end %>
<%= link_to 'Back', bid_items_path %>
