<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

      <div class="col-md-4">
        <%= image_tag @bid_item.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Item Name:</strong></td>
                <td><%= @bid_item.item_name %></td>
              </tr>
              <tr>
                <td><strong>Seller:</strong></td>
                <td><%= @bid_item.seller_id %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @bid_item.description %></td>
              </tr>
              <tr>
                <td><strong>Starting Price:</strong></td>
                <td><%= @bid_item.starting_price %></td>
              </tr>
              <tr>
                <td><strong>Fixed Price:</strong></td>
                <td><%= @bid_item.fixed_price %></td>
              </tr>
              <tr>
                <td><strong>Highest Price:</strong></td>
                <td><%= @bid_item.current_price %></td>
              </tr>
            </tbody>
          </table>
          <% if user_signed_in? %>
            <section class="bid_form">
                <%= render 'shared/bid_record_form' %>
            </section>
          <% end %>
          <% link_to 'Back', bid_items_path %>
        </div>
      </div>

      <div class="col-md-7 col-md-offset-1">
        <% if @bid_records.blank? %>
          <h3>No bidding records just yet, would you like to add the first!</h3>
          <% if user_signed_in? %>
            <section class="bid_form">
                <%= render 'shared/bid_record_form' %>
            </section>
          <% end %>
        <% else %>
          <em><%= "#{@bid_records.length} bidding records" %></em>
          <% @bid_records.each do |record| %>
            <div class="bid_record">
              <tr>
                <td><%= record.created_at %>  </td>
                <td><%= record.user_id %>  </td>
                <td><%= record.price %>  </td>
              </tr>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


